h1{
    color: red;
}

.cohortSetupWindow{
    position:absolute;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid black;
    background-color: #F5F5DC;
    display: flex;
    flex-direction: column;
}
.hidden{
    display: none; 
}
#cohortSetupContainer{
    display: flex;
    margin: 10px;


}


.inFront{
    z-index: 2;

}
#bottomRight{
   bottom: 0;
   right: 0;
   left: 90%;
}
