body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}


.siteHeader{
    background-color:#07aa9e;
    height: 25%;
    text-align: center;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
    
}
.header-label {
    margin: auto;
    font-weight: 900;
    font-size: 52px;
    padding-bottom: 0px;
    
    
   
}

.siteHeader_section_left, .siteHeader_section_right {
    font-size: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    height: 65px;
    margin-top: 60px;
    margin-bottom: 0px;
    
}

.siteHeader_section_left:hover, .siteHeader_section_right:hover {
    background: #34c7bd;
	color: white;
	box-shadow: 5px 10px 18px black;
  
}
.siteHeader_section_left:active, .siteHeader_section_right:active{ 
    transform: translateY(4px);
}
.align-right {
    align-content: right;
    
}

#submitNewCohortBtn, #cancelNewCohortBtn{
    margin-left: 10px;
    height: 25px;
    width: 100px;
    border: 1px solid black;
    outline:none;
    font-size: 12px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}

#submitNewCohortBtn:active, #cancelNewCohortBtn:active{
    transform: translateY(4px);

}

.createCohortContainer, .add-student-dialogue-box  {
    background-color: #07aa9e;
    border: solid 1px black;
    align-items: center;
    align-content: center;
    padding: 25px;
    margin-top: 5px; 
    font-weight: bold;
    color: white;
    
}

.input_cohort_name{
    margin-left: 10px;
    height: 25px;
    width: 200px;
    border: 1px solid black;
    outline:none;
    font-size: 20px;
    text-align: center;
    

}
.input_cohort_name::placeholder{
    color: gray;
    text-align: center;
    font-size: 16px;
    padding: auto;
    margin: 0 auto;
}
.create-cohort-label {
    font-size: 24px;
    margin-left: 350px;

}
.hidden {
    display: none;
}